@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    #out > div {
        page-break-after: always;
    }
    .row {
        display: block !important;   
    }
    .link.boolean {
        color: black;
    }
}

body {
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
  padding: 0;
}
label, input {
  width: 100%;
  background-color: #446;
  color: white;
}
pre {
  display: none;
  font-family: 'Ubuntu Mono', monospace;
}
.table {
  margin: 0 20px 20px 20px;
}
#out > div {
  overflow-x: auto;
}
table {
  width: 100%;
  border: 2px solid black;
  box-shadow: 4px 3px 5px #777;
  border-collapse: collapse;
}
td, th {
  border: 1px solid black;
  padding: 7px;
  background-color: white;
  white-space: nowrap; 
  overflow: hidden;
}

.even .link.boolean.true ~ td {
    border-top: none;
}
.odd .link.boolean.true ~ td {
    border-bottom: none;
}

th {
  background-color: #779;
  color: white;
}
tr > td:first-child {
  background-color: #eef;
  color: black;
  width: 75px;
}

.boolean {
  text-align: center;
  width: 75px;
}
.link.boolean {
  color: rgba(0,0,0,0);
  border: none;
}
.odd .link.boolean.true {
  background-image: url(./linktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.even .link.boolean.true {
  background-image: url(./linkbtn.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.color-OFF {
  border-left: 5px solid Black;
}
.color-RD {
  border-left: 5px solid Red;
}
.color-GN {
  border-left: 5px solid Green;
}
.color-YE {
  border-left: 5px solid Yellow;
}
.color-BL {
  border-left: 5px solid Blue;
}
.color-MG {
  border-left: 5px solid Magenta;
}
.color-CY {
  border-left: 5px solid Cyan;
}
.color-WH {
  border-left: 1px solid Black;
}

.color-OFFi {
  border-left: 5px dotted Black;
}
.color-RDi {
  border-left: 5px dotted Red;
}
.color-GNi {
  border-left: 5px dotted Green;
}
.color-YEi {
  border-left: 5px dotted Yellow;
}
.color-BLi {
  border-left: 5px dotted Blue;
}
.color-MGi {
  border-left: 5px dotted Magenta;
}
.color-CYi {
  border-left: 5px dotted Cyan;
}
.color-WHi {
  border-left: 1px dotted Black;
}
